<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=", initial-scale=1.0">
    <title>WR | Wibu Rendezvous</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Domine:wght@400..700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<main class="main-container">

    <section class="navbar">
        <div class="navleft">
            <ul>
                <li class="logo-menu dropdown">
                    <a class="logo dropbtn" href="/">
                        <img src="/images/logo.png" height="55px" style="object-fit: cover;">
                    </a>
                
                    <div class="dropdown-content">
                        <ul>
                            <li class="dropdown-small">
                                <a class="dropbtn"  href="/search/top?page=1">Top Anime > > > </a>
                                <div class="dropdown-content-small">
                                    <a  href="/search/top?page=1">All Anime</a>
                                    <a  href="/search/top?filter=airing&page=1">Airing</a>
                                    <a  href="/search/top?filter=Upcoming&page=1">Upcoming</a>
                                    <a  href="/search/top?filter=bypopularity&page=1">By Popularity</a>
                                    <a  href="/search/top?filter=favorite&page=1">Favorite</a>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="dropdown-small">
                                <a class="dropbtn" href="/search/seasons?page=1">Seasonal Anime</a>
                                <div class="dropdown-content-small">
                                    <% const date = new Date().getFullYear() %>
                                    <a  href="/search/seasons?year=<%= date %>&season=winter&page=1">Winter</a>
                                    <a  href="/search/seasons?year=<%= date %>&season=spring&page=1">Spring</a>
                                    <a  href="/search/seasons?year=<%= date %>&season=summer&page=1">Summer</a>
                                    <a  href="/search/seasons?year=<%= date %>&season=fall&page=1">Fall</a>
                                  </div>
                            </li>
                        </ul>
                        <ul>
                        <li>
                            <a  href="/category?type=genre">Genre</a></li>
                        </ul>
                        <ul>
                            <li>
                            <a  href="/category?type=release-year">Year</a>
                        </li>
                        </ul>
                    </div>
                </li>

                <li class="menu"><a class="logo" href="/"><img src="/images/logo.png" height="55px" style="object-fit: cover;"></a></li>
                <li class="dropdown">
                    <div class="menu">
                    <a class="dropbtn" href="/search/top?page=1">Top Anime</a>
                    <div class="dropdown-content">
                        <a  href="/search/top?page=1">All Anime</a>
                        <a  href="/search/top?filter=airing&page=1">Airing</a>
                        <a  href="/search/top?filter=Upcoming&page=1">Upcoming</a>
                        <a  href="/search/top?filter=bypopularity&page=1">By Popularity</a>
                        <a  href="/search/top?filter=favorite&page=1">Favorite</a>
                    </div>
                    </div>
                </li>
                <li class="dropdown">
                    <div class="menu">
                    <a class="dropbtn"href="/search/seasons?page=1">Seasonal Anime</a>
                  <div class="dropdown-content">
                    <a  href="/search/seasons?year=<%= date %>&season=winter&page=1">Winter</a>
                    <a  href="/search/seasons?year=<%= date %>&season=spring&page=1">Spring</a>
                    <a  href="/search/seasons?year=<%= date %>&season=summer&page=1">Summer</a>
                    <a  href="/search/seasons?year=<%= date %>&season=fall&page=1">Fall</a>
                  </div>
                  </div>
                </li>
                <li class="menu"><a href="/category?type=genre">Genre</a></li>
                <li class="menu"><a href="/category?type=release-year">Year</a></li>
              </ul>
        </div>

        <div class="navright">
            <form action="/search/top">
                <input type="text" name="filter" hidden value="airing">
                <input type="text" name="page" hidden value="1">
            <input class="search" type="text" name="search" placeholder="Search">
            <input type="submit" hidden>
            </form>
        </div>

    </section>
