<%- include("partials/headers.ejs") %>
<div class="category">
    <% if(locals.categoryE) {%>
        <div class="category-type title-featured"><h2>Genre</h2></div>
        <div class="category-type"><hr /></div>

        <% category.data.forEach(genre => { %>
        <div class="">
            <form id="myForm" method="post">
                <input type="text" name="genreId" hidden value=<%= genre.mal_id %>>
                <input type="text" name="name" hidden value=<%= genre.name %>>
                <input width="100%" class="content-category" id="get" type="submit" value="<%= genre.name %>" formaction="/search">
            </form>
        </div>
        <% }) %>

        <div class="category-type title-featured gen"><h2>Explicit Genre</h2></div>
        <div class="category-type"><hr /></div>

        <% categoryE.data.forEach(genre => { %>
            <div class="">
                <form id="myForm" method="post">
                    <input type="text" name="genreId" hidden value=<%= genre.mal_id %>>
                    <input type="text" name="name" hidden value=<%= genre.name %>>
                    <input width="100%" class="content-category" id="get" type="submit" value="<%= genre.name %>" formaction="/search">
                </form>
            </div>
        <% }) %>

        <div class="category-type title-featured gen"><h2>Themes</h2></div>
        <div class="category-type"><hr /></div>

        <% categoryT.data.forEach(genre => { %>
            <div class="">
                <form id="myForm" method="post">
                    <input type="text" name="genreId" hidden value=<%= genre.mal_id %>>
                    <input type="text" name="name" hidden value=<%= genre.name %>>
                    <input width="100%" class="content-category" id="get" type="submit" value="<%= genre.name %>" formaction="/search">
                </form>
            </div>
        <% }) %>

        <div class="category-type title-featured gen"><h2>Demographics</h2></div>
        <div class="category-type"><hr /></div>

        <% categoryD.data.forEach(genre => { %>
            <div class="">
                <form id="myForm" method="post">
                    <input type="text" name="genreId" hidden value=<%= genre.mal_id %>>
                    <input type="text" name="name" hidden value=<%= genre.name %>>
                    <input width="100%" class="content-category" id="get" type="submit" value="<%= genre.name %>" formaction="/search">
                </form>
            </div>
        <% }) %>
        

    <% } else if (locals.years){ %>
        <div class="category-type title-featured"><h2>Release / Year</h2></div>
        <div class="category-type"><hr /></div>

        <% for(var i = 0; i<=45;i++) { %>
            <div class="">
                <form id="myForm" method="post">
                    <input type="text" name="year" hidden value=<%= years.data[i].year %>>
                    <input type="text" name="season" hidden value=<%= years.data[i].seasons %>>
                    <input width="100%" class="content-category" id="get" type="submit" value=<%= years.data[i].year %> formaction="/search">
                </form>
            </div>

        <% }} else{ %>
            <p>category</p>
        <% } %>
        <div class="category-type"><hr /></div>
</div>

<%- include("partials/footers.ejs") %>






















