<%- include("partials/headers.ejs") %>

<section class="main-content">
  <% const ranNum = Math.floor(Math.random() * content.data.length) %>
  <% const topAired = content.data %>
  
  <% const topAiredMovie = movie.data %>
  <% const topAnime = top.data %>
  <% const topUpcoming = upcoming.data %>

  <% const ranTop = [topAired, topUpcoming] %>
  <% const randomTopNum = Math.floor(Math.random() * ranTop.length) %>
  <% const randomContent = ranTop[randomTopNum] %>

  <div class="content-title">
    <h1><%= randomContent[ranNum].title %></h1>
    <span><%= randomContent[ranNum].aired.prop.from.day %>. 
      <% var month = randomContent[ranNum].aired.string.split(" ")[0] %>
      <%= month %>, 
      <%= randomContent[ranNum].aired.prop.from.year %></span>
    <div class="score">
      <button class="score-button"><% if(!randomContent[ranNum].score){%> ---- <% } else { %><%= randomContent[ranNum].score %> <% } %></button>
      <% const score = Math.floor(randomContent[ranNum].score) %>
      <p><% for(var i= 1; i<= 10; i++) { if(i <= score) { %><img src="/images/star.svg" height="30px"><% } else { %><img src="/images/star-blank.svg" height="30px"><% }} %><br>
        <img src="/images/profile.svg" height="20px"> <%= randomContent[ranNum].scored_by %> Votes</p>
    </div>
    <p class="rating"><%= randomContent[ranNum].rating %><br>
    <p class="rating"><%= randomContent[ranNum].status %>  (<%= randomContent[ranNum].type %>)  ||  <%= randomContent[ranNum].episodes %> episodes  ||  <%= randomContent[ranNum].duration %></p>

    <b style="max-height: 23px; overflow: hidden;">| <% randomContent[ranNum].genres.forEach(genre => { %><%= genre.name %> | <% }) %>
      <% randomContent[ranNum].explicit_genres.forEach(genre => { %><%= genre.name %> | <% }) %>
      <% randomContent[ranNum].themes.forEach(genre => { %><%= genre.name %> | <% }) %>
      <% randomContent[ranNum].demographics.forEach(genre => { %><%= genre.name %> | <% }) %></b>
    <p class="synopsis"><%= randomContent[ranNum].synopsis%>...</p><a href="/anime?animeId=<%= randomContent[ranNum].mal_id %>">Continue reading</a>
  </div>

  <div class="content-video">
      <% if(randomContent[ranNum].trailer.embed_url === null){ %>
        <div style="text-align: center;">
          <img class="card" src=<%= randomContent[ranNum].images.jpg.large_image_url %>>
          <h1>Video Content not Found</h1>
        </div>
          
        <% } else { %>
        <iframe class="card video-box" src=<%= randomContent[ranNum].trailer.embed_url %>></iframe>
      <% } %>
  </div>
  
  <div class="text-title title-featured"><h2>Featured</h2></div>
  
  <%var b=21; var title = ""; for(var i=0; i<b; i++){ %>
    <% if(topAired[i].title !== title){%>
    <div class="card-film">
      <a href="/anime?animeId=<%= topAired[i].mal_id %>" style="color: black;">
      <div class="card-img">
      <img class="card" src=<%= topAired[i].images.jpg.large_image_url %> width="98%" height="300px">
      <div class="text1">Featured</div>
      <div class="centered"><%= topAired[i].synopsis %></div>
      <div class="text2">✩ <%= topAired[i].score %></div>
      <% if(topAired[i].rating){ %><% var rating = topAired[i].rating.split(" ")[0]; %>
      <% if(rating === "Rx"){ %>
        <div class="text3" style="background-color: red;"><%= rating %></div>
      <% } else if(rating === "R"){ %>
        <div class="text3" style="background-color: orange;"><%= rating %></div>
      <% } else { %>
        <div class="text3" style="background-color: green;"><%= rating %></div>
    <% }} %>

      </div>
      <% var title_name = topAired[i].title %>
      <h4><%= title_name %></h4>
      </a>
      <p><%= topAired[i].aired.prop.from.day %> <% var month = topAired[i].aired.string.split(" ")[0] %><%= month %> <%= topAired[i].aired.prop.from.year %></p>
    </div>
    <% } else { b++ } title = topAired[i].title; %>
   <% } %>
   <div class="text-title"><hr /></div>

   <div class="text-title title-featured"><h2>Movie</h2></div>
  
   <% var b=7;  var title = ""; for(var i=0; i<b; i++){ %>
    <% if(topAiredMovie[i].title !== title){%>

    <div class="card-film">
      <a href="/anime?animeId=<%= topAiredMovie[i].mal_id %>" style="color: black;">
      <div class="card-img">
      <img class="card" src=<%= topAiredMovie[i].images.jpg.large_image_url %> width="98%" height="300px">
      <div class="text1"><%= topAiredMovie[i].type %></div>
      <div class="centered"><%= topAiredMovie[i].synopsis %></div>
      <div class="text2">✩ <%= topAiredMovie[i].score %></div>
      <% if(topAiredMovie[i].rating){ %><% var rating = topAiredMovie[i].rating.split(" ")[0]; %>
      <% if(rating === "Rx"){ %>
        <div class="text3" style="background-color: red;"><%= rating %></div>
      <% } else if(rating === "R"){ %>
        <div class="text3" style="background-color: orange;"><%= rating %></div>
      <% } else { %>
        <div class="text3" style="background-color: green;"><%= rating %></div>
    <% }} %>

      </div>
      <% var title_name = topAiredMovie[i].title %>
      <h4><%= title_name %></h4>
      </a>
      <p><%= topAiredMovie[i].aired.prop.from.day %> <% var month = topAiredMovie[i].aired.string.split(" ")[0] %><%= month %> <%= topAiredMovie[i].aired.prop.from.year %></p>
    </div>
    <% } else { b++ } title = topAiredMovie[i].title; %>
   <% } %>
   <div class="text-title" style="text-align: right;">
    <a href="/search/top?filter=movie" class="button-featured">View More</a>
    </div>
    
   <div class="text-title"><hr /></div>

   <div class="text-title title-featured"><h2>Top Anime</h2></div>

  
   <% var b=7;  var title = ""; for(var i=0; i<b; i++){ %>
    <% if(topAnime[i].title !== title){%>

    <div class="card-film">
      <a href="/anime?animeId=<%= topAnime[i].mal_id %>" style="color: black;">
      <div class="card-img">
      <img class="card" src=<%= topAnime[i].images.jpg.large_image_url %> width="98%" height="300px">
      <div class="text1"><%= topAnime[i].type %></div>
      <div class="centered"><%= topAnime[i].synopsis %></div>
      <div class="text2">✩ <%= topAnime[i].score %></div>
      <% if(topAnime[i].rating){ %><% var rating = topAnime[i].rating.split(" ")[0]; %>
      <% if(rating === "Rx"){ %>
        <div class="text3" style="background-color: red;"><%= rating %></div>
      <% } else if(rating === "R"){ %>
        <div class="text3" style="background-color: orange;"><%= rating %></div>
      <% } else { %>
        <div class="text3" style="background-color: green;"><%= rating %></div>
    <% }} %>

      </div>
      <% var title_name = topAnime[i].title %>
      <h4><%= title_name %></h4>
      </a>
      <p><%= topAnime[i].aired.prop.from.day %> <% var month = topAnime[i].aired.string.split(" ")[0] %><%= month %> <%= topAnime[i].aired.prop.from.year %></p>
    </div>
    <% } else { b++ } title = topAnime[i].title; %>
   <% } %>
   <div class="text-title" style="text-align: right;">
    <a href="/search/top" class="button-featured">View More</a>
    </div>
    
    <div class="text-title"><hr /></div>

    <div class="text-title title-featured"><h2>Upcoming</h2></div>

  
    <% var b=7;  var title = ""; for(var i=0; i<b; i++){ %>
      <% if(topUpcoming[i].title !== title){%>

    <div class="card-film">
      <a href="/anime?animeId=<%= topUpcoming[i].mal_id %>" style="color: black;">
      <div class="card-img">
      <img class="card" src=<%= topUpcoming[i].images.jpg.large_image_url %> width="98%" height="325px">
      <div class="text1"><%= topUpcoming[i].type %></div>
      <div class="centered"><%= topUpcoming[i].synopsis %></div>
      <div class="text2">✩ <%= topUpcoming[i].score %></div>
      <% if(topUpcoming[i].rating){ %><% var rating = topUpcoming[i].rating.split(" ")[0]; %>
      <% if(rating === "Rx"){ %>
        <div class="text3" style="background-color: red;"><%= rating %></div>
      <% } else if(rating === "R"){ %>
        <div class="text3" style="background-color: orange;"><%= rating %></div>
      <% } else { %>
        <div class="text3" style="background-color: green;"><%= rating %></div>
    <% }} %>
      </div>
      <% var title_name = topUpcoming[i].title %>
      <h4><%= title_name %></h4>
      </a>
      <p><%= topUpcoming[i].aired.prop.from.day %> <% var month = topUpcoming[i].aired.string.split(" ")[0] %><%= month %> <%= topUpcoming[i].aired.prop.from.year %></p>
    </div>
    <% } else { b++ } title = topUpcoming[i].title; %>
   <% } %>
   <div class="text-title" style="text-align: right;">
    <a href="/search/top?filter=upcoming" class="button-featured">View More</a>
    </div>
    
    <div class="text-title"><hr /></div>
</section>
<%- include("partials/footers.ejs") %>