<%- include ("partials/headers.ejs") %>

<% const data1 = content1.data %>
<% const data2 = content2.data %>

<section class="main-content">

    <div class="text-title title-featured"><h2> <%= locals.name %>  <%= locals.year %> %> <% if(locals.type){%><%= "( " + locals.type + " )" %><% } %></h2></div>
    <div class="text-title" style="display: flex; gap: 10px; font-size: 15px;">
      
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=tv&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">TV</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=movie&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">Movie</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=ova&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">OVA</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=special&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">Special</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=ona&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">ONA</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=music&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">Music</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=cm&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">CM</a>
      <a href="/search/<%= locals.anime %>?filter=<%=locals.filter %>&type=pv&genresId=<%= locals.genreId %>&genresName=<%= locals.name %>&year=<%=locals.year %>">PV</a>
    </div>
    <div class="text-title"><hr /></div>
    <% if(data1.length > 0){ %>
    <% var title = ""; for(var i=0; i<data1.length; i++){ %>
      <% if(data1[i].title !== title){%>
      <div class="card-film">
        <a href="/anime?animeId=<%= data1[i].mal_id %>" style="color: black;">
        <div class="card-img">
          <img class="card" src=<%= data1[i].images.jpg.large_image_url %> width="98%" height="325px">
          <div class="text1"><%= data1[i].type %></div>
          <div class="centered"><%= data1[i].synopsis %>....</div>
          <div class="text2">✩ <%= data1[i].score %></div>
          <% if(data1[i].rating){ %><% var rating = data1[i].rating.split(" ")[0]; %>
            <% if(rating === "Rx"){ %>
              <div class="text3" style="background-color: red;"><%= rating %></div>
            <% } else if(rating === "R"){ %>
              <div class="text3" style="background-color: orange;"><%= rating %></div>
            <% } else { %>
              <div class="text3" style="background-color: green;"><%= rating %></div>
          <% }} %>
          <div class="text4"><%= data1[i].status %></div>
        </div>
        <% var title_name = data1[i].title  %>
        <h4><%= title_name %></h4>
        </a>
        <p><%= data1[i].aired.prop.from.day %> <% var month = data1[i].aired.string.split(" ")[0] %><%= month %> <%= data1[i].aired.prop.from.year %></p>
      </div>
      <% } title = data1[i].title; %>
     <% } %>

     <% var title = ""; for(var i=0; i<data2.length; i++){ %>
      <% if(data2[i].title !== title){%>
      <div class="card-film">
        <a href="/anime?animeId=<%= data2[i].mal_id %>" style="color: black;">
        <div class="card-img">
        <img class="card" src=<%= data2[i].images.jpg.large_image_url %> width="98%" height="325px">
        <div class="text1"><%= data2[i].type %></div>
        <div class="centered"><%= data2[i].synopsis %>....</div>
        <div class="text2">✩ <%= data2[i].score %></div>
        <% if(data2[i].rating){ %><% var rating = data2[i].rating.split(" ")[0]; %>
            <% if(rating === "Rx"){ %>
              <div class="text3" style="background-color: red;"><%= rating %></div>
            <% } else if(rating === "R"){ %>
              <div class="text3" style="background-color: orange;"><%= rating %></div>
            <% } else { %>
              <div class="text3" style="background-color: green;"><%= rating %></div>
          <% }} %>
          <div class="text4"><%= data2[i].status %></div>
        </div>
        <% var title_name = data2[i].title  %>
        <h4><%= title_name %></h4>
        </a>
        <p><%= data2[i].aired.prop.from.day %> <% var month = data2[i].aired.string.split(" ")[0] %><%= month %> <%= data2[i].aired.prop.from.year %></p>
      </div>
      <% } title = data2[i].title; %>
     <% } %>
     
        
  

    <% } else {%>
      <div class="text-title">
        <h1 class="error">there's no content for this category</h1>
      </div>
    <% } %>
     <div class="text-title"><hr /></div>
     
</section>

<%- include("partials/footers.ejs") %>